#img1L {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 130px;
    z-index: 1;
}

#img2L {
    position: absolute;
    z-index: 2;
    width: 550px;
    transform: translate(-40px);
}

#img3L {
    position: absolute;
    z-index: 3;
    transform: translate(0, 122px);
    width: 100%;
    height: 40px;
    left: 0;
}

#img4L {
    position: absolute;
    height: 18px;
    transform: translate(895px,-20px);
}

#img5L {
    position: relative;
    transform: translateY(190px);
    width: 100%;
    height: 80px;
    z-index: 6;
}

#img6L {
    position: absolute;
    transform: translate(25px, 100px);
    width: 1450px;
    height: 500px;
}

#img7L {
    position: relative;
    transform: translate(90px,120px);
}

.links {
    right: 0;
    position: absolute;
    transform: translate(0, 135px);
    z-index: 4;
}

.links a {
    position: relative;
    z-index: 5;
    color: black;
    padding-right: 28px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 19px;
    text-decoration: none;
   
}

#t1L {
    font-family: 'Times New Roman', Times, serif;
    font-size: 28px;
    color: white;
    position: relative;
    z-index: 7;
    transform: translate(0, 90px);
    text-align: center;
}


#t2L {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.968);
    z-index: 8;
    position: relative;
    transform: translate(0, 62px);
    text-align: center;
}

.form-label1L {
    position: absolute;
    transform: translate(50px, 150px);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
.form-control1L {
    position: absolute;
    transform: translate(100px, 150px);
    width: 200px;
}

.form-label2L {
    position: absolute;
    transform: translate(-50px, 0px);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}

.form-label3L {
    position: absolute;
    transform: translate(50px, 250px);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
.form-control3L {
    position: absolute;
    transform: translate(100px, 250px);
    width: 200px;
}

.form-label4L {
    position: absolute;
    transform: translate(500px, 150px);
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
}
.form-control4L {
    position: absolute;
    transform: translate(600px, 150px);
    width: 200px;
}

.container {
    position: absolute;
    transform: translate(100px, 200px);
}

#cpfform {
    position: absolute;
    z-index: 9;
    transform: translate(0, 00px);
}

.validar {
    position: absolute;
    transform: translate(220px,-22px);
}

input {
    width: 100%;
    font-size: 1rem;
  }
  .error1 {
    color: red;
  }


#idade {
    position: absolute;
    z-index: 10;
    transform: translate(500px, 200px);
}

#ageInput {
    position: absolute;
    transform: translate(550px, 200px);
    width: 129px;
}